
<div class="table-responsive">
	<table class="table table-striped">
		<thead class="thead-light">
			<tr>
				<th>Name</th>
				<th>Genre</th>
				<th>Release Date</th>
				<th><input type="checkbox" @bind="displayButtons" /></th>
			</tr>
		</thead>
		<tbody>
			<GenericList ItemsCollection="Games">
				<ItemTemplate Context="game">
					<OneGame Game="game" IsTable=true DisplayButton="displayButtons" DeleteGame="DeleteGame"/>
				</ItemTemplate>
			</GenericList>
		</tbody>
	</table>
</div>

@code {
	[Parameter]
	public List<Game>? Games { get; set; }

	private bool displayButtons = false;

	void DeleteGame(Game deletedGame)
	{
		if(Games is not null)
		{
			Games.Remove(deletedGame);
		}
	}
}
