@page "/counter"
@rendermode InteractiveServer
@inject SingletonService singleton
@inject TransientService transient

<PageTitle>Counter</PageTitle>

<div class="container">
    <div class="row">
        <div class="col alert alert-secondary text-center">
            <h1>Counter</h1>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-6 text-start">
			<button class="btn btn-primary p-3" @onclick="IncrementCount">Click me</button>
        </div>
        <div class="col-6 text-end">
            <div style="font-size: 50px">@currentCount</div>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col text-center">
            <input type="number" class="form-control-lg" @bind="currentCount"/>
        </div>
    </div>
</div>

<div class="container">
    <div class="row mt-3">
        <div class="col-6 text-center alert-primary">
            Singleton count: @singleton.Value
        </div>
        <div class="col-6 text-center alert-danger">
            Transient count: @transient.Value
        </div>
    </div>
</div>


@code {
    private int currentCount = 0;

    [Parameter]
    public int IncrementAmount{ get; set; } = 1;

    private void IncrementCount()
    {
        currentCount += IncrementAmount;
        singleton.Value = currentCount;
        transient.Value = currentCount;
    }

}
