@page "/"
@rendermode InteractiveServer

<div class="container">
	<div class="row">
		<div class="col text-center">
			<h1>Welcome to Home page</h1>
		</div>
	</div>
</div>

<div class="container">
	<div class="row">
		<div class="col text-center">
			<h2>Show all games in Database:</h2>
		</div>
	</div>
</div>

<GamesTable Games="games"/>

<OneGame Game="gameToShow" IsTable="false" DisplayButton="true" SwitchGame="ShowNewGame"/>

@code
{
	private List<Game>? games = new List<Game>();
	private Random? rnd;
	private Game? gameToShow;

	protected override void OnInitialized()
	{
		games = new List<Game>
		{
			new Game()
			{
				Name = "Cities SkyLine",
				Genre = "Simulator",
				ReleaseDate = new DateTime(2013, 10, 15)
			},
			new Game()
			{
				Name = "The Witcher 3",
				Genre = "Action/RPG",
				ReleaseDate = new DateTime(2016, 05, 18)
			},
			new Game()
			{
				Name = "They are billion!",
				Genre = "Strategy",
				ReleaseDate = new DateTime(2019, 03, 10)
			}
		};

		rnd = new Random(DateTime.Now.Microsecond);
		gameToShow = games[rnd.Next(0, games.Count)];
	}

	void ShowNewGame()
	{
		gameToShow = SwitchGame();
	}

	public Game? SwitchGame()
	{
		if(games is not null)
		{
			Game? tempGame = null;
			if (games.Count >= 2)
			{
				int iterator = rnd.Next(0, games.Count);
				tempGame = games[iterator];
			}
			else if (games.Count == 1)
			{
				tempGame = games[0];
			}
			else return new Game() {Name = "No items in collection", ReleaseDate = DateTime.Now };
			return tempGame;
		}
		return null;
	}
}