
.note-container {
	display: flex;
	height: 100%;
	flex-flow: row wrap;
	gap: 2rem;
	justify-content: start;
	margin-left: 15px;
}
.note {
	background-color: slategrey;
	flex: 1;
	padding: 2px;
	border-radius: 5px;
	min-width: 400px;
	max-width: 400px;
	color: azure;
	border: 3px solid;
	border-color: white;
}
	.note:hover {
		border-color: lightsteelblue;
	}
.note-hr{
	margin: 4px 0 !important;
}
.note-header {
	font-size: 20px;
	font-weight: bold;
	white-space: nowrap;
	overflow: hidden;
	max-width: 400px;
}
.note-body {
	padding: 5px 0;
	font-size: 15px;
	overflow: hidden;
	height: 120px;
}
.note-footer {
	margin-inline: 3px;
}
.note-footer-tags {
	width: 100%;
	min-height: 24px;
	white-space: nowrap;
	overflow: hidden;
}
.note-footer-tags a {
	font-size: 13px;
	font-weight: 400;
	color: azure;
}
	.note-footer-tags a:hover {
		color: #0dcaf0;
	}
.modal-footer-start {
	justify-content: start;
}
.modal-footer a {
	background-color:darkcyan;
	color: azure;
}
.modal-footer a:hover {
	color:plum;
}
.tag-edit-container {
	display: flex;
	flex-flow: row wrap;
	gap: 5px;
}
.tag-bind{
	display: inline-block;
	width: 100%;
}
.confirm-bind {
	display: inline-block;
	margin-inline-start: auto;
}
.all-results{

}
