.tag-container {
	display: grid;
	grid-template-columns: repeat(auto-fill, 350px);
	gap: 20px;
}
.tag {
	display: flex;
	justify-content: space-between;
	align-content:center;
	width: 350px;
	background-color: lightgray;
	border: 2px solid;
	border-color:cadetblue;
	border-radius: 5px;
}
.tag-inline {
	display: inline-block;
	width: auto;
	overflow: hidden;
}
.tag-link {
	margin-block-start:auto;
	margin-block-end: auto;
	margin-inline-start: 10px;
}
	.tag-link a {
		color: white;
	}
	.tag-link a:hover {
		color: lightblue;
	}
#tagInput {
	width: calc(100% - 35px);
}
