.tag-container {
	display: grid;
	grid-template-columns: repeat(auto-fill, 350px);
	gap: 20px;
}
.tag {
	display: flex;
	justify-content: space-between;
	align-content:center;
	width: 350px;
	background-color: lightgray;
	border: 2px solid;
	border-color:cadetblue;
	border-radius: 5px;
}
.tag-inline {
	display: inline-block;
	width: auto;
	overflow: hidden;
}
.tag-link {
	margin-block-start:auto;
	margin-block-end: auto;
	margin-inline-start: 10px;
}
	.tag-link a {
		color: white;
	}
	.tag-link a:hover {
		color: lightblue;
	}
#tagInput {
	width: calc(100% - 35px);
}
.tag-delete-container{
	
}
.tag-modal-inline {
	display: flex;
	width: calc(100% - 10px);
	margin: 8px;
	padding: 3px;
	border: 2px solid #ced4da;
	border-radius: 5px;
	background-color: #e9ecef;
	align-items:center;
}
.tag-name {
	display: inline-block;
	margin-inline-end: auto;
	margin-inline-start: 10px;
	color: darkslateblue;
}
.tag-delete-button {
	display: inline-block;
}
.tag-modal-inline:has(.tag-delete-button:hover) {
	border-color: #dc3545;
	background-color: lightcoral;
}