@inherits LayoutComponentBase
@layout ExternalLayout

<header class="top-row px-4">
	<a href="/" class="btn btn-outline-secondary">To Login Page</a>
</header>
<main>
	<article class="content px-4">
		@Body
	</article>
</main>