@inherits LayoutComponentBase
@layout ExternalLayout

<header class="top-row px-4">
	<a href="/register" class="btn btn-outline-secondary">Register</a>
</header>
<main>
	<article class="content px-4">
		@Body
	</article>
</main>