@inherits LayoutComponentBase

<PageTitle>Notes</PageTitle>

<div class="page">
	<main>
		<div class="top-row px-4">
			<a href="/">Register</a>
		</div>
		<article class="content px-4">
			@Body
		</article>
	</main>
	<footer class="fixed-bottom py-3 bg-light">
		<div class="row">
			<div class="col text-end text-muted pe-4">All rights reserved.</div>
		</div>
	</footer>
</div>
