@inherits LayoutComponentBase

@inject UserAuthenticationState authState
@inject NavigationManager navManager

<PageTitle>Notes</PageTitle>

<CascadingValue Value="this">
	<div class="page">
		<div class="sidebar">
			<NavMenu />
		</div>

		<main>
			<div class="top-row px-4">
				<button class="btn btn-outline-secondary" @onclick="SignOut">Sign out</button>
			</div>

			<article class="content px-4">
				@Body
			</article>
		</main>
	</div>
</CascadingValue>

@code{
	private AuthenticatedUserHandler_VM? _handler_VM;
	[Inject]
	public AuthenticatedUserHandler_VM handler_VM
	{
		get => _handler_VM ?? throw new Exception("AuthenticatedUserHandler_VM is null");
		set => _handler_VM = value ?? throw new Exception("AuthenticatedUserHandler_VM is null");
	}
	public void SignOut()
	{
		authState.UserLoggedIn = false;
		handler_VM.NullifyUser();
		navManager.NavigateTo("/");
	}
}