@inherits LayoutComponentBase

<PageTitle>Notes</PageTitle>

<CascadingValue Value="this">
	<div class="page">
		<div class="sidebar">
			<NavMenu />
		</div>

		<main>
			<div class="top-row px-4">
				<a href="/" class="btn btn-outline-secondary">Sign out</a>
			</div>

			<article class="content px-4">
				@Body
			</article>
		</main>
	</div>
</CascadingValue>

@code{
	public string MainPageLink { get; set; } = string.Empty;
}