@inject NavigationManager navManager

<div class="login-form">
	<EditForm Model="changePassword" OnValidSubmit=ToLoginPage >
		<DataAnnotationsValidator />
		<h2 class="text-center">@FormHeader</h2>
		<div class="form-group">
			<InputText type="password" class="form-control" placeholder="@PasswordPlaceholder" @bind-Value="changePassword.PasswordInput" />
			<ValidationMessage For="(() => changePassword.PasswordInput)" />
		</div>
		<div class="form-group">
			<InputText type="password" class="form-control" placeholder="@PasswordConfirmPlaceholder" @bind-Value="changePassword.PasswordConfirmInput" />
			<ValidationMessage For="(() => changePassword.PasswordConfirmInput)" />
		</div>
		<div class="form-group">
			<button type="submit" class="btn btn-primary btn-block">@ButtonTitle</button>
		</div>
	</EditForm>
	<p class="text-center">Already have an account? <a href="/">Sign in</a></p>
</div>

@code {
	[Parameter]
	public string FormHeader { get; set; } = "Change password";
	[Parameter]
	public string PasswordPlaceholder { get; set; } = "New password";
	[Parameter]
	public string PasswordConfirmPlaceholder { get; set; } = "Confirm password";
	[Parameter]
	public string ButtonTitle { get; set; } = "Submit";

	[Parameter]
	public int UserId { get; set; } = -1;

	private ChangePasswordFields changePassword = new();

	public void ToLoginPage()
	{
		
	}
}
