
<button class="btn btn-outline-primary" @onclick="(() => OnCreateModalStateChanged(true))">
	<i class="fa-solid fa-plus fa-lg"></i>
</button>

@if (CreateModalWindowIsOpen)
{
	<TagStateChangeModal ModalTitle=@ModalWindowTitle OnClose="OnCreateModalStateChanged" OnConfirm="OnCreateNewTag" />
}

@code {
	[Parameter]
	public string ModalWindowTitle { get; set; } = string.Empty;
	[Parameter]
	public Func<string, Tag_VM>? OnCreate { get; set; }
	[Parameter]
	public EventCallback ParentComponentStateHasChanged { get; set; }

	private bool CreateModalWindowIsOpen;

	private void OnCreateModalStateChanged(bool state)
	{
		CreateModalWindowIsOpen = state;
		StateHasChanged();
	}
	private void OnCreateNewTag(string tagName)
	{
		if(OnCreate is not null)
		{
			OnCreate.Invoke(tagName);
		}
		else
		{
			throw new Exception("CreateTag -> OnCreate is null");
		}
		OnCreateModalStateChanged(false);
		ParentComponentStateHasChanged.InvokeAsync();
	}
}
