
<div class="modal fade show" id="showModal" style="display:block; background-color: rgba(10,10,10,.7);"
	aria-modal="true" role="dialog" @onclick="CloseModal">
	<div class="modal-dialog modal-dialog-scrollable" @onclick:stopPropagation>
		<div class="modal-content bg-light">
			<div class="modal-header">
				<h4 class="modal-title">@ModalTitle</h4>
				<button type="button" class="btn-close" @onclick="CloseModal"></button>
			</div>
			<div class="modal-body">
				<div class="card text-white bg-secondary">
					<div class="card-header text-center">@NoteHeader</div>
					<div class="card-body p-2">
						<p class="card-text">@NoteText</p>
					</div>
					<div class="card-footer">
						@foreach (var tag in CardTags ?? Array.Empty<string>())
						{
							<span class="text-muted">@tag </span>
						}
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

@code {
	[Parameter]
	public string ModalTitle { get; set; } = "Note";
	[Parameter]
	public string NoteHeader { get; set; } = string.Empty;
	[Parameter]
	public string NoteText { get; set; } = string.Empty;
	[Parameter]
	public IEnumerable<string>? CardTags { get; set; }
	[Parameter]
	public EventCallback<bool> OnClose { get; set; }

	private Task CloseModal()
	{
		return OnClose.InvokeAsync(false);
	}
}