
<div class="modal fade show" id="showModal" style="display:block; background-color: rgba(10,10,10,.7);"
	aria-modal="true" role="dialog" @onclick="CloseModal">
	<div class="modal-dialog modal-dialog-scrollable" @onclick:stopPropagation>
		<div class="modal-content bg-secondary text-white">
			<div class="modal-header">
				<h4 class="modal-title">@NoteHeader</h4>
				<button type="button" class="btn-close" @onclick="CloseModal"></button>
			</div>
			<div class="modal-body">
				<span>@NoteText</span>
			</div>
			<div class="modal-footer modal-footer-start">
				@foreach (var tag in NoteTags ?? Array.Empty<Tag_VM>())
				{
					if (ChildContent is not null)
					{
						@ChildContent(tag.TagName)
					}
					else
					{
						<a href="#" class="badge fst-italic">@tag.TagName</a>
					}
				}
			</div>
		</div>
	</div>
</div>

@code {
	[Parameter]
	public string NoteHeader { get; set; } = string.Empty;
	[Parameter]
	public string NoteText { get; set; } = string.Empty;
	[Parameter]
	public IEnumerable<Tag_VM>? NoteTags { get; set; }
	[Parameter]
	public RenderFragment<string>? ChildContent { get; set; }
	[Parameter]
	public EventCallback<bool> OnClose { get; set; }

	private Task CloseModal()
	{
		return OnClose.InvokeAsync(false);
	}
}