
<h2>@Title</h2>

<div class="tag-container">
	@foreach (var tag in Tags ?? [])
	{
		<IndividualTagForm Tag=@tag OnDelete="OnDeleteTag"/>
	}
</div>

@code {
	[Parameter]
	public string Title { get; set; } = "Tags";
	[Parameter]
	public IEnumerable<Tag_VM>? Tags { get; set; }
	[Parameter]
	public EventCallback<int> OnDeleteTagHandler { get; set; }

	private async Task OnDeleteTag(int id)
	{
		await OnDeleteTagHandler.InvokeAsync(id);
	}
}
