@layout ExternalLayout
@page "/resetpassword"

<PageTitle>Password Reset</PageTitle>

@if (string.IsNullOrEmpty(secureCode))
{
	<EmailInputForm OnEmailSent=HandleOnEmailSent OnUserFound=HandleOnUserFound/>
}
else if (!correctCodeInput)
{
	<SecureCodeInputForm EmailCode=@secureCode OnCorrectCodeInput=HandleOnCorrectCodeInput />
}
else
{
	<ChangePasswordForm UserId=@userId />
}

<p class="text-center">@BottomLinkText<a href=@BottomLink>@BottomLinkTitle</a></p>

@code {
	//customize layout variables
	[CascadingParameter]
	public ExternalLayout? Layout { get; set; }
	[Parameter]
	public string HeaderLinkTitle { get; set; } = "To Login Page";
	[Parameter]
	public string HeaderLink { get; set; } = "/";

	[Parameter]
	public string BottomLinkText { get; set; } = "Don't have an account? ";
	[Parameter]
	public string BottomLinkTitle { get; set; } = "Create an Account";
	[Parameter]
	public string BottomLink { get; set; } = "/register";

	private string secureCode = string.Empty;
	private bool correctCodeInput;
	private int userId;

	protected override void OnInitialized()
	{
		if (Layout is not null)
		{
			Layout.HeaderLinkTitle = HeaderLinkTitle;
			Layout.HeaderLink = HeaderLink;
			Layout.RedrawLayout();
		}
	}
	public void HandleOnEmailSent(string code)
	{
		secureCode = code;
	}
	public void HandleOnCorrectCodeInput(bool correct)
	{
		correctCodeInput = correct;
	}
	public void HandleOnUserFound(int userId)
	{
		this.userId = userId;
	}
}
