@layout ExternalLayout
@page "/resetpassword"

<PageTitle>Password Reset</PageTitle>

<ForgotPasswordForm />

<p class="text-center">@BottomLinkText<a href="/register">@BottomLinkTitle</a></p>

@code {
	//customize layout variables
	[CascadingParameter]
	public ExternalLayout? Layout { get; set; }
	[Parameter]
	public string HeaderLinkTitle { get; set; } = "To Login Page";
	[Parameter]
	public string HeaderLink { get; set; } = "/";

	[Parameter]
	public string BottomLinkText { get; set; } = "Don't have an account? ";
	[Parameter]
	public string BottomLinkTitle { get; set; } = "Create an Account";

	protected override void OnInitialized()
	{
		if (Layout is not null)
		{
			Layout.HeaderLinkTitle = HeaderLinkTitle;
			Layout.HeaderLink = HeaderLink;
			Layout.RedrawLayout();
		}
	}
	
}
