@page "/main/{UserId:int}"
@inject UserAuthenticationState authState

<PageTitle>Index</PageTitle>

@if(!authState.UserLoggedIn)
{
	<NotAuthorizedForm />
}
else
{
	<h1 class="text-center">Your notes</h1>
	<div class="container">
		<div class="row">
			@foreach(Note_VM note in handler_VM?.GetUserNotes() ?? [])
			{
				<NoteCard NoteId=@note.Id CardHeader=@note.Header CardText=@note.Body />
			}
		</div>
	</div>
}


@code{
	[CascadingParameter]
	public MainLayout? mainLayout { get; set; }
	[Parameter]
	public int UserId { get; set; }
	[Inject]
	public AuthenticatedUserHandler_VM? handler_VM { get; set; }

	protected override void OnParametersSet()
	{
		if(mainLayout is not null)
		{
			mainLayout.MainPageLink = $"/main/{UserId}";
		}
	}
}
