@page "/main/{UserId:int}"
@inject UserAuthenticationState authState

<PageTitle>Index</PageTitle>

@if(!authState.UserLoggedIn)
{
	<NotAuthorizedForm />
}
else
{
	<h1>Hello, world!</h1>


	<SurveyPrompt Title = "How is Blazor working for you?" />
}


@code{
	[CascadingParameter]
	public MainLayout? mainLayout { get; set; }
	[Parameter]
	public int UserId { get; set; }

	protected override void OnParametersSet()
	{
		if(mainLayout is not null)
		{
			mainLayout.MainPageLink = $"/main/{UserId}";
		}
	}
}
