@layout ExternalLayout
@page "/"

<PageTitle>Login</PageTitle>

<LoginForm />

<div class="container">
	<div class="row">
		<div class="col text-center">
			<a href="/main">Go to main page</a>
		</div>
	</div>
</div>

@code{
	//customize layout variables
	[CascadingParameter]
	public ExternalLayout? Layout { get; set; }
	[Parameter]
	public string HeaderLinkTitle { get; set; } = "Register";
	[Parameter]
	public string HeaderLink { get; set; } = "/register";

	protected override void OnInitialized()
	{
		if (Layout is not null)
		{
			Layout.HeaderLinkTitle = HeaderLinkTitle;
			Layout.HeaderLink = HeaderLink;
			Layout.RedrawLayout();
		}
	}
}
